.registration-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  .router-link {
  color: #3498db;
  text-decoration: none;
}

.router-link:hover {
  text-decoration: underline;
}