/* styles.css */
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

#app {
  text-align: center; /* Center aligns elements for dynamic text */
  padding: 20px;
  min-height: 100vh;
  background-color: #000; /* Assuming you want the whole page to have a black background */

}

nav {
  background-color: #000;
  padding: 10px 20px;
  display: flex; /* Flexbox layout for the navigation */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space out nav items and logo */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Increase spacing if needed */
  font-weight: bold;
  font-size: 18px; /* Match the font size to Ophelia if needed */
  text-transform: uppercase; /* Uppercase letters for a more stylized look */
}

nav a:hover {
  color: #3498db; /* Blue color for hover state */
}

nav a.router-link-exact-active {
  color: #2ecc71; /* Green color for active state */
}

/* Add your dynamic text CSS here */
.dynamic-text {
  /* Styling for your dynamic text */
  font-size: 48px; /* Example size, adjust as necessary */
  font-weight: 700; /* Bold font */
  color: white; /* Text color */
  margin: 20px 0; /* Spacing above and below the text */
  /* You can add more styling as per your design requirements */
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.dynamic-text {
  animation: fadeInOut 5s ease-in-out infinite;
  /* rest of your styles */
}
