/* styles.css
body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
  }
  
  #app {
    text-align: left;
    padding: 20px;
    min-height: 100vh; /* This ensures that the app element covers the whole viewport height */
    background-color: #000;

  }
  
  nav {
    background-color: #000;
    padding: 10px 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #3498db;
  }
  
  nav a.router-link-exact-active {
    color: #2ecc71;
  }
  
   */